<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Seja bem vindo ao OiVizinho.com, <%= @user.email %></h1>
<p>
  Seu usuario: <%= @user.email %><br/>
  Sua senha: <%= @password %>.<br />
</p>
<p>
  Entre no OiVizinho nesse link: <%= @url %>.
</p>
<p>Obrigado por fazer parte! =D</p>
</body>
</html>