
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

footer {
    padding: 30px 0 10px;
    background-color: #efefef;
    overflow: hidden;
    text-align: center
}

.width_wrap {
    position: relative;
    margin: 0 auto;

}
footer .left {

}
footer nav, footer nav ul {
    display: inline;
}
footer nav, footer nav ul {
    display: inline;
}
footer nav li {
    display: inline-block;
    margin-right: 18px;
}
footer nav a {
    font-size: 15px;
    font-weight: 400;
    color: black;
}
#footers_footer {

    margin: 10px auto;
    color: #ACB1B4;
    font-size: 11px;
    overflow: auto;
}
#legal {
    text-align: center
}
#legal p, #legal ul, #legal li {
    display: inline;
}
#legal ul {
    margin: 0 30px;
}
#legal li {
    margin: 0;
}
#legal p, #legal ul, #legal li {
    display: inline;
}
p:first-child, p.first {
    margin-top: 0!important;
}
#footers_footer a {
    font-weight: 400;
}
#footers_footer a.loveo {
    color: #F27490;
}
#footers_footer .iconify, #footers_footer .follow::before, #footers_footer .following::before, #footers_footer .unfollowing::before {
    font-size: 13px;
}
#footers_footer .language {

}
